// Main Colors

$black: #0a0a0a;
$green-1: #429222;
$green-2: #68AF30;
$green-3: #9DDA46;
$white-1: #F2E9E4;

//gradient 
$gradient-1: linear-gradient(90deg, rgba(66,146,34,1) 0%, 
rgba(104,175,48,1) 35%, rgba(157,218,70,1) 100%);