@import "colors";
@import "media-vars.scss";

.services-page {
    margin: 0 10rem;
    & > .title {
        margin: .50rem 0;
        background: $gradient-1;
        width: fit-content;
        padding: .35rem;
        color: white;
    }

    .service-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        padding-bottom: 1rem;
        column-gap: .75rem;

        .main-content {
            padding: 1rem;
        }
    }

    .image-container {
        display: flex;
        align-self: center;

        img {
            width: 35vw;
            height: 35vh;
        }
    }
}

@media (max-width: $small-1) {
    .services-page {
        margin: 0 .50rem;

        .title.is-1 {
            font-size: 2rem;
        }

        .service-container {
            text-align: center;
            font-size: .90rem;
            display: grid;
            grid-template-columns: 1fr;

            &::after {
                content: "";
                height: 2px;
                background: $gradient-1;
                border-radius: 25px;
            }

            .main-content {
                .header {
                    margin-bottom: .25rem;
                    font-size: 1.2rem;
                }
            }
        }

        .image-container {
            justify-content: center;

            img {
                width: 70vw;
                height: 40vh;
            }
        }
    }
}