@import "colors";

.services-page {
    margin: 0 10rem;
    & > .title {
        margin: .50rem 0;
        background: $gradient-1;
        width: fit-content;
        padding: .35rem;
        color: white;
    }

    .service-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        padding-bottom: 1rem;

        .main-content {
            padding: 1rem;
        }
    }

    .image-container {
        display: flex;
        align-self: center;

        img {
            width: 35vw;
            height: 35vh;
        }
    }
}